[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[core] 
    # editor = "" --wait
    # quotepath = false的作用是：告诉 Git 在输出路径时不要对特殊字符进行转义。这个设置对于在输出中显示文件路径的可读性非常有用。
    quotepath = false
[user]
    name = MacbookPro-Nia
    email = sh563295875@163.com
[alias]
    co = checkout
    br = branch
    ci = commit
    # ci -am "message" add与commit合并指令（只对已经index的文件有效）如果是工作区新增的文件必须要先add
    # git status -u untracked的文件默认只会输出到他的所处的文件夹，u参数可以把所有全路径文件名输出到控制台
    st = status -u
    last = log -1 HEAD
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    unstage = reset HEAD --
    # 1.比较工作区与index files中的差别，仅仅包括工作区已追踪的文件的修改（表示相对于index区，工作区有哪些变化）
    d = diff
    # 2.比较工作区中和最新一次commit的差别,包括工作区和index区所有已追踪的文件的修改（表示相对于head有哪些改变）
    # 一般如果本地已经提交了，diff HEAD会发现没有任何变化，这是后一把使用diff HEAD～
    # 本地没有提交，才会使用diff HEAD来比较工作区的修改内容。
    dh = diff HEAD
    # 3.比较index files和最新一次commit的差别，从head到index区的修改（表示相对于head有哪些改变）
    dc = diff --cached
    # 4.比较两次提交的差异：git diff commit1 commit2(表示从commit2相对于commit1的变化，顺序不要乱)
    # commit1和commit2的hashCode可以是不同分支的！
    # commit～n：~符号用于指定一个提交的第n个父提交
    # commit^n：^符号更加灵活，它用于选择合并提交的父提交或普通提交的父提交，
    # ！普通的提交（非合并提交）只有一个父提交，因此在普通提交上使用^2是不合法的。这种情况下，你只能使用^或者^1来引用唯一的父提交。
    # 显示两次commit之间差异的文件列表,包含文件的全路径名
    ds = diff --stat=10000
    # 修改上一次的提交内容
    cia = commit --amend
    # 不以快进的形式合并别的分支，保留别的分支信息。不加该参数，Git 会执行一个快进合并（fast-forward merge），前提是没有冲突且可以直接快进。
    # 被合并的分支会直接指向master分支的最新提交，合并历史会更简洁，但不会有一个明确的合并提交来标记这次合并的发生。
    mn = merge --no-ff
    # 将别的分支上的多个commit合并为一个commit，并且把修改后内容add到暂存区，tip：没有commit，需要我们diff head 看看修改了哪里，最后自己把这个合并后的内容进行commit
    ms = merge --squash 
    
    # 有本地和远程各有两个分支，dev和master，1. 本地切换到dev，2. 然后使用merge master --no-ff和rebase master的区别：
    # merge命令，git lg 显示当前分支，保留合并的记录线，会出现分叉的图形。
    # rebase就不一样，git lg 显示当前分支，不会出现分叉的的提交记录，是线性的。会把被合并的分支dev的最新提交记录（dev和master共同的父提交开始之后的提交）放在合并分支master提交记录的上面。
    # 但是，会根据被合并的分支dev的最新提交纪录在合并分支master的最上面创建成新的提交，虽然和原提交记录的是内容是一样的，但是hashcode和提交时间是最新的。
    # 所以使用git lg看到的记录不是我们当时提交的那个时间！！
    # 使用git lg --all也是能看到原来被合并分支的最新提交记录的，只是重新将他们搬到了与合并分支同一条线上的最上面。
    # 此刻本地的dev分支和远程的dev分支是分叉的，但是本地的dev分支和远程的master分支同线的！
    
    # git cherry-pick <commitId> ...（将其他分支的一些commit应用在本分支，tip:最好从左往右写旧的到新的commitId，否则如果直接写一个最新的commitId有可能会出现conflict
    # 拉取远程分支别人的提交到我们即将要提交内容之前，让分支保持一条直线
    # git pull --rebase
    # git fetch origin master:tmp 只拉取不合并
    # git pull 等价于git fetch 和 git merge 会自动合并，并创建一个合并的commit
    # git pull --rebase 等价于 git pull 和 git rebase
    # git stash pop --index // 不加index参数是默认不将暂存取的内容回复的，都是直接回复到工作区
    # git reset // 不加--hard参数不会把工作空间的修改还原只会把暂存区的修改还原
    # git mergetool //打开合并工具
[merge]
    tool = BeyondCompare4
[mergetool "BeyondCompare4"]
    # path =
    # cmd = 
[diff]
    guitool = beyondcompare4
[difftool "beyondcompare4"]
    # path = 
    # cmd = 
